SECRET_KEY=django-insecure-c6o(fx%)2i_mkztz-6v+^pq06hs7_iufbpy=eox+#3+s7ca6@e

DB_NAME=dil-connection-db
DB_USER_NAME=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

STRIPE_SECRET_KEY=sk_test_51KxRwfCe2X04fekwVk3JSnlJB7xFLhOechTgeNkgABdVEloupSIWnjlXEHnwwLjcoi5HqEJD1JItXwRquKKGz0oq00JmU4jRxk
STRIPE_PUBLIC_KEY=pk_test_51KxRwfCe2X04fekwEydJGCEG6SthVHNjBMAekRjVc5nztAcjgfCN2q3mzEIVHUmEXCxQeBYfUQndl4iKaNIQfEVi00DPDB3B6O

EMAIL_USE_TLS=true
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=test@gmail.com
EMAIL_HOST_PASSWORD=test
EMAIL_PORT=587

USER_TRIAL_PERIOD=10
